.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  /* border-radius: 15px; */
}

.card__name-container {
  position: absolute;
  top: 15px;
  gap: 10px;
  display: flex;
}

.card__name {
  margin: 0;
  gap: 0px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  text-align: center;
}

.card__image {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.card__like-button {
  background-image: url("/src/assets/heart.svg");
  background-color: transparent;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../../assets/heartblack.svg");
}
