.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0 auto 0 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  height: 24px;
  flex: 0 0 auto;
  text-wrap: nowrap;
}

.header__add-clothes-btn {
  margin: 0 20px;
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 0;
  background: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  flex: 0 0 auto;
  height: 25px;
  text-wrap: nowrap;
  padding-right: 10px;
}

.header__link {
  text-decoration: none;
  color: black;
  display: flex;
}

.header__signin-button {
  margin: 0 20px;
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.header__register-button {
  margin: 0 20px;
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.header__avatar {
  display: flex;
  width: 60px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}
