.sidebar {
  /* width: 56px; */

  /* top: 119px;
  left: 40px;
  gap: 0px; */
  display: flex;
  flex-direction: column;
}

.sidebar__container {
  display: flex;
}

.sidebar__avatar {
  display: flex;
  width: 60px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  display: flex;
}

.sidebar__edit-profile-btn {
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.sidebar__signout-btn {
  font-size: 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  text-align: left;
}
