.sidebar {
  width: 56px;
  height: 56px;
  top: 119px;
  left: 40px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.sidebar__avatar {
  display: flex;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  display: flex;
}
