/* .login__from-register {
  width: 124px;
  height: 36px;
  top: 557px;
  left: 500px;
  gap: 12px;
  border: 1px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 25px;
  font-weight: 700;
} */
