.clothes-section {
  max-width: 100%;
}

.clothes-section__container {
  display: flex;
}

.clothes-section__list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1015px;
  flex-wrap: wrap;
  gap: 20px;
}

.clothes-section__text {
  left: 450px;
  top: 170px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
}

.clothes-section__button {
  left: 550px;
  top: 185px;
  background: none;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  color: gray;
  cursor: pointer;
}
